a:not([class]){
  background-image: none;
}

a:not([class]):hover{
  text-decoration: none;
}

.page-content a {
  text-decoration: underline;
}

.site-title {
  font-size: 20px !important;
}

.navigation-list-link a:hover{
  text-decoration: underline;
}

blockquote {
  background: #efefef;
  padding: 10px 10px 1px 10px;
  border-left: 5px solid #ccc;
  margin-left: 0px;
}

table {
  display: table;
  min-width: 100%;
  background-color: $blue-100;
  color: #b07f13;
}

.side-bar {
  z-index: 0;
  width: 400px;
  align-items: flex-start;
  flex-wrap: nowrap;
  }

  @include mq(lg) {
    width: auto;
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: calc(
      ($content-width-400px)
    );
  }
}
